<div class="container">
    <img src="~/imagens/faleconosco1.jpg" alt="Fale Conosco" />
    <div class="jumbotron">
        <h3>Queremos ouvir o que você têm a dizer</h3>
        <p>Se tiver alguma dúvida ou sugestão fale conosco</p>
        <p>
            <span>
                <img src="~/imagens/Envelope-icon24.png" />
            </span>
            <h5><email endereco="joel@gmail.com" conteudo="Enviar um e-mail"></email></h5>
            <br />
            <span>
                <img src="~/imagens/phone-app-icon.png" />
            </span>
            <h5>(16) 99456-7788</h5>
            <br />
            <span>
                <img src="~/imagens/Home-iconred.png" />
            </span>
            <h5>Rua Presidente Vargas 1000 - 14060-000 - Ribeirão Preto</h5>
        </p>
    </div>
</div>