 @model LoginViewModel

<table class="table">
    <tr>
        <td><img src="~/images/3456426.png" alt="Registrar" class="center-block" style="width: 64px" /></td>
        <td>
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <h4>Registrar usuário</h4>
                    <form asp-controller="Account" asp-action="Register" method="post" class="form-horizontal" role="form">
                        <hr />
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="UserName"></label>
                            <input asp-for="UserName" class="form-control" />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password" class="col-md-2 control-label"></label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="form-group">
                            <input type="submit" class="btn btn-success" value="Registrar" />
                        </div>
                    </form>
                </div>
            </div>
        </td>
    </tr>
</table>