<br />
<div class="container">
    <img src="~/images/78948.png" alt="Area de Admin" class="marginTop1" width="60px" />
    <div class="jumbotron">
        <p>
            <h2>Está é a área de Administrador</h2>
        </p>
    </div>
    <a asp-area="" asp-controller="Home" asp-action="Index">Volta a Home Page</a>
</div>